{erl_opts, [debug_info]}.
{deps, [
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
    {jiffy, "", {git, "git://github.com/davisp/jiffy.git"}},
    {serial, "", {git, "git://github.com/tonyg/erlang-serial.git"}},
    {gpio, "", {git, "git://github.com/paoloo/gpio.git"}}
]}.
